<p>
  <app-value-wrapper [title]="'input text'">
    <app-input></app-input>
  </app-value-wrapper>
  <app-value-wrapper [title]="'input text with prefix'">
    <app-input [prefix]="'prefix'"></app-input>
  </app-value-wrapper>
  <app-value-wrapper [title]="'input text with prefix'">
    <app-input [suffix]="'suffix'"></app-input>
  </app-value-wrapper>
  <app-value-wrapper [title]="'input number with prefix and suffix'">
    <app-input [prefix]="'prefix'" [suffix]="'suffix'" [type]="'number'"></app-input>
  </app-value-wrapper>
</p>
