@import "scss/variables";

:host {
  flex: 1 0;
  display: flex;

  .block-wrapper {
    flex: 1;

    display: flex;
    flex-direction: column;

    &__title {
      flex: 0 0 2rem;

      display: flex;
      align-items: center;
      padding: 0 1em;

      background-color: $color-dark;
      color: $color-light;
    }

    &__content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

