<div #scrollContainer class="scroll-box__container"
     [class.scroll-box__container_horizontal]="scrollHorizontal$ | async"
     [class.scroll-box__container_vertical]="scrollVertical$ | async"
     (wheel)="onWheel($event)"
>
    <div #scrollContent class="scroll-box__content">
        <ng-content></ng-content>
    </div>
</div>
<app-scroll-bar *ngIf="visibleVerticalScrollBar$ | async"
                [horizontal]="false"
                [otherScrollVisible]="visibleHorizontalScrollBar$ | async"
                [size]="relativeVerticalScrollSize$ | async"
                [position]="relativeVerticalScrollPosition$ | async"
                (positionChange)="relativeVerticalScrollPositionChange($event)"
></app-scroll-bar>
<app-scroll-bar *ngIf="visibleHorizontalScrollBar$ | async"
                [horizontal]="true"
                [otherScrollVisible]="visibleVerticalScrollBar$ | async"
                [size]="relativeHorizontalScrollSize$ | async"
                [position]="relativeHorizontalScrollPosition$ | async"
                (positionChange)="relativeHorizontalScrollPositionChange($event)"
></app-scroll-bar>
<div [@enterAnimation]
     *ngIf="(overflowedWidth$ | async) && (relativeHorizontalScrollPosition$ | async) > 0"
     class="scroll-box__overflow-shadow scroll-box__overflow-shadow_left"></div>
<div [@enterAnimation]
     *ngIf="(overflowedHeight$ | async) && (relativeVerticalScrollPosition$ | async) > 0"
     class="scroll-box__overflow-shadow scroll-box__overflow-shadow_top"></div>
<div [@enterAnimation]
     *ngIf="(overflowedWidth$ | async) && (relativeHorizontalScrollPosition$ | async) < 1"
     class="scroll-box__overflow-shadow scroll-box__overflow-shadow_right"></div>
<div [@enterAnimation]
     *ngIf="(overflowedHeight$ | async) && (relativeVerticalScrollPosition$ | async) < 1"
     class="scroll-box__overflow-shadow scroll-box__overflow-shadow_bottom"></div>