@import 'scss/variables';

:host {
  display: block;
  position: absolute;

  right: .25rem;
  bottom: .25rem;
  min-width: .5rem;
  min-height: .5rem;

  .scroll-bar__slider {
    position: absolute;
    top: 0;
    left: 0;

    background-color: $control-color-border;

    &:hover, &_moving {
      background-color: $control-color-border-accent;
    }
  }

  &.scroll-bar_horizontal {
    left: .25rem;

    .scroll-bar__slider {
      width: 100%;
      bottom: 0;
    }

    &.scroll-bar_other-scroll-visible {
      right: 1.5rem;
    }
  }

  &.scroll-bar_vertical {
    top: .25rem;

    .scroll-bar__slider {
      height: 100%;
      right: 0;
    }

    &.scroll-bar_other-scroll-visible {
      bottom: 1.5rem;
    }
  }

}


