@import "scss/variables";
@import "scss/mixins";

:host {
  display: flex;
}

.select {
  flex: 1;
  height: 2rem;
  display: flex;

  align-items: center;

  border: 1px solid $control-color-border;

  &__name {
    flex: 1;
    min-width: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 0 1rem;
  }

  &__icon-button {
    align-self: stretch;
    flex: none;
    width: 2rem;
    margin-left: auto;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $control-color-border;

    &:hover {
      background-color: $color-light-accent;
      color: $color-dark-accent;
    }
  }

  &_drop {
    border-color: $control-color-border-accent;
    cursor: default;
  }
}

.select__drop {
  max-height: 16rem;

  background-color: transparentize($color-light, .1);
  border: 1px solid $control-color-border-accent;
}

::ng-deep .pop-up-container_position-top .select__drop {
  margin-bottom: -1px;
}

::ng-deep .pop-up-container_position-bottom .select__drop {
  margin-top: -1px;
}

.select__item {
  display: block;
}