<div class="select" [class.select_drop]="drop" [class.focus]="drop" #selectElement>
    <div class="select__name" [class.select__name_placeholder]="placeholder && !selectedItem">{{selectedItem?.name || placeholder}}</div>
    <div class="select__icon-button" *ngIf="canClear && selectedItem" (click)="onClearClick($event)"><fa [name]="'times'"></fa></div>
    <div class="select__icon-button" (click)="onSelectClick($event)"><fa [name]="drop ? 'caret-up' : 'caret-down'"></fa></div>
</div>
<ng-template #itemTemplate let-item="item">
    <app-select-item class="select__item" (click)="onItemClick($event, item)" [item]="item" [selected]="comparator.equals(item, selectedItem)"></app-select-item>
</ng-template>
<ng-container *ngIf="drop">
    <div #selectDrop
         class="select__drop"
         *appPopUp="selectElement; contentAlign: PopUpAlign.FitByRelative; contentPosition: PopUpPosition.Bottom;">

        <app-input
                *ngIf="withFilter"
                class="select__drop-filter"
                [formControl]="filterControl"></app-input>

        <app-virtual-list
                class="select__drop-list"
                [source]="filteredSource$ | async"
                [itemTemplate]="itemTemplate"
        ></app-virtual-list>
    </div>

</ng-container>
