<div class="select" [class.select_drop]="drop" #selectElement (click)="onSelectClick($event)">
    <div class="select__name">{{selectedItem?.name}}</div>
    <div class="select__arrow"><fa [name]="drop ? 'angle-up' : 'angle-down'"></fa></div>
</div>
<ng-template #itemTemplate let-item="item" let-selected="selected">
    <app-select-item class="select__item" (click)="onItemClick($event, item)" [item]="item" [selected]="selected"></app-select-item>
</ng-template>
<ng-container *ngIf="drop">
    <app-virtual-list
            #selectDrop
            class="select__drop"
            *appPopUp="selectElement; contentAlign: PopUpAlign.FitByRelative; contentPosition: PopUpPosition.Bottom;"
            [source]="source"
            [selectedItem]="selectedItem"
            [comparator]="comparator"
            [itemTemplate]="itemTemplate"
    ></app-virtual-list>
</ng-container>
