@import "scss/variables";
@import "scss/mixins";



:host {
  display: flex;
}

.select {
  flex: 1;
  height: 2rem;
  display: flex;

  align-items: center;

  border: 1px solid $color-border;
  cursor: pointer;

  &__name {
    flex: 1;
    min-width: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 0 1rem;
  }

  &__arrow {
    flex: 0 0 2rem;
    margin-left: auto;
    text-align: center;
  }


  &_drop {
    border-color: $color-accent-border;
    cursor: default;
  }

  &_drop &__arrow {
    color: $color-accent-dark;
  }

}

.select__drop {
  max-height: 16rem;

  background-color: transparentize($color-light, .1);


  border: 1px solid $color-accent-border;
}

.select__item {
  display: block;
}