:host {
  display: flex;

  .select {
    flex: 1;
    height: 2rem;
    display: flex;

    align-items: center;

    &__name {
      flex: 1;
      min-width: 0;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__arrow {
      flex: 0 0 2rem;
      margin-left: auto;
      text-align: center;
    }

  }

  .select__drop {
    max-height: 16rem;
  }

}

