@import "scss/mixins";
@import "scss/variables";

:host {
  display: flex;
  width: 200px;

  @include control;

  .input {
    flex: 1;
    display: flex;

    align-items: stretch;

    height: 2rem;

    overflow: hidden;

    &__prefix, &__suffix {
      flex: none;

      display: flex;
      align-items: center;

      margin: 0 .5em;

      color: $control-color-placeholder;
    }

    &__field {
      flex: 1;

      display: flex;
      min-width: 0;

      input {
        flex: 1;

        min-width: 0;

        border: none;
        background: transparent;
      }
    }
  }
}