<div class="input" [class.focus]="focus">
    <div class="input__prefix">{{prefix}}</div>
    <div class="input__field">
        <input [attr.type]="type"
               [attr.min]="min"
               [attr.max]="max"
               [attr.step]="step"
               [attr.disabled]="disabled"
               [(ngModel)]="value"
               (ngModelChange)="onValueChange()"
               (focus)="setFocus(true)"
               (blur)="setFocus(false)"
        >
    </div>
    <div class="input__suffix">{{suffix}}</div>
</div>