@import "~scss/variables";

:host {
  display: block;
  height: 4rem;
  width: 4rem;
  position: relative;

  .spinner {

    &__ball {
      position: absolute;
      top: 20%;
      left: 20%;
      width: 60%;
      height: 60%;
      opacity: 0;
      transform: rotate(225deg);
      animation: orbit 6.96s infinite;

      &-inner {
        position: absolute;
        width: 15%;
        height: 15%;
        background: $color-accent-dark;
        border-radius: 10px;
      }

      &-i0 {
        animation-delay: 1.52s;
      }

      &-i1 {
        animation-delay: 0.3s;
      }

      &-i2 {
        animation-delay: 0.61s;
      }

      &-i3 {
        animation-delay: 0.91s;
      }

      &-i4 {
        animation-delay: 1.22s;
      }
    }

  }

  @keyframes orbit {
    0% {
      opacity: 1;
      z-index: 99;
      transform: rotate(180deg);
      animation-timing-function: ease-out;
    }

    7% {
      opacity: 1;
      transform: rotate(300deg);
      animation-timing-function: linear;
      origin: 0%;
    }

    30% {
      opacity: 1;
      transform: rotate(410deg);
      animation-timing-function: ease-in-out;
      origin: 7%;
    }

    39% {
      opacity: 1;
      transform: rotate(645deg);
      animation-timing-function: linear;
      origin: 30%;
    }

    70% {
      opacity: 1;
      transform: rotate(770deg);
      animation-timing-function: ease-out;
      origin: 39%;
    }

    75% {
      opacity: 1;
      transform: rotate(900deg);
      animation-timing-function: ease-out;
      origin: 70%;
    }

    76% {
      opacity: 0;
      transform: rotate(900deg);
    }

    100% {
      opacity: 0;
      transform: rotate(900deg);
    }
  }
}