@import 'scss/variables';

:host {
  display: flex;

  .value-wrapper {
    flex: 1;
    display: flex;

    flex-wrap: nowrap;

    &__title {
      flex: 1 1 0;
      line-height: 2rem;

      color: $color-dark;
    }

    &__value {
      flex: 1 1 0;
      line-height: 2rem;

      color: $color-dark-accent;
    }
  }
}