@import 'scss/variables';

:host {
  display: flex;

  .value-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    &__title {
    }

    &__value {

    }
  }
}