<div class="exchange-routes">
    <div class="exchange-routes__selectors">
        <app-block-wrapper [title]="'Отдаете'">
            <app-payment-service-currency-list
                    [(paymentServiceCurrency)]="fromPaymentServiceCurrency" (paymentServiceCurrencyChange)="onPaymentServiceCurrencyChange()"></app-payment-service-currency-list>
        </app-block-wrapper>
        <app-block-wrapper [title]="'Получаете'">
            <app-payment-service-currency-list
                    [(paymentServiceCurrency)]="toPaymentServiceCurrency" (paymentServiceCurrencyChange)="onPaymentServiceCurrencyChange()"></app-payment-service-currency-list>
        </app-block-wrapper>
    </div>
    <div class="exchange-routes__info">
        <app-block-wrapper [title]="'Калькулятор'">
            <app-exchange-route
                    [fromPaymentServiceCurrency]="fromPaymentServiceCurrency"
                    [toPaymentServiceCurrency]="toPaymentServiceCurrency"></app-exchange-route>
        </app-block-wrapper>
    </div>
</div>






