:host {
  flex: 1;

  display: flex;
  flex-direction: column;

  .exchange-routes {
    flex: 1;

    display: flex;
    flex-direction: row;

    &__selectors {
      flex: 1;

      display: flex;
      flex-direction: column;
    }

    &__info {
      flex: 2;
      display: flex;
    }
  }

  app-block-wrapper {
    margin: .25rem;
  }

}