@import "scss/variables";

:host {
  display: flex;
  flex-direction: column;

  .payment-service-currency {
    flex: 0 0 2rem;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: stretch;

    &__name {
      padding: 0 1em;
    }

    cursor: pointer;

    &:hover {
      background-color: $color-light-accent;
      color: $color-dark-accent;
    }

    &_selected, &_selected:hover {
      background-color: $color-dark-accent;
      color: $color-light-accent;

      cursor: default;
    }
  }
}