@import "scss/variables";

:host {
  display: flex;
  flex-direction: column;

  .payment-service-currency {
    flex: 0 0 2rem;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: stretch;

    background-color: $color-light;
    color: $color-dark;

    &_selected {
      background-color: $color-accent-dark;
      color: $color-accent-light;
    }

    &__name {
      padding: 0 1em;
    }
  }
}