@import "scss/variables";

:host {
  display: flex;

  .select-item {
    display: flex;
    height: 2rem;

    align-items: center;

    &__name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      padding: 0 1rem;
    }

    cursor: pointer;

    &:hover {
      background-color: $color-light-accent;
      color: $color-dark-accent;
    }

    &_selected, &_selected:hover {
      background-color: $color-dark-accent;
      color: $color-light-accent;

      cursor: default;
    }
  }

}