<ng-template #itemTemplate let-item="item">
    <app-payment-service-currency
            [item]="item"
            [selected]="paymentServiceCurrencyComparator.equals(item, paymentServiceCurrency)"
            (click)="onPaymentServiceCurrencyClick(item)"
    ></app-payment-service-currency>
</ng-template>

<div class="payment-service-currency-list">
    <div class="payment-service-currency-list__filter">
        <app-select
                class="payment-service-currency-list__filter-item"
                [placeholder]="'Валюта'"
                [source]="currencySelectSource"
                [(selectedItem)]="currency"
                (selectedItemChange)="onCurrencyChange($event)"
        ></app-select>
        <app-select
                class="payment-service-currency-list__filter-item"
                [placeholder]="'Платежный сервис'"
                [source]="paymentServiceSelectSource"
                [(selectedItem)]="paymentService"
                (selectedItemChange)="onPaymentServiceChange($event)"
        ></app-select>
    </div>
    <app-virtual-list
            class="payment-service-currency-list__list"
            [source]="listSource"
            [itemTemplate]="itemTemplate"></app-virtual-list>
</div>