<ng-template #itemTemplate let-item="item" let-selected="selected">
    <app-payment-service-currency [item]="item" [selected]="selected"></app-payment-service-currency>
</ng-template>

<div class="payment-service-currency-list">
    <div class="payment-service-currency-list__filter">
        <app-select
                class="payment-service-currency-list__filter-item"
                [source]="currencySelectSource"
                [(selectedItem)]="currency"
                (selectedItemChange)="onCurrencyChange($event)"
        ></app-select>
        <app-select
                class="payment-service-currency-list__filter-item"
                [source]="paymentServiceSelectSource"
                [(selectedItem)]="paymentService"
                (selectedItemChange)="onPaymentServiceChange($event)"
        ></app-select>
    </div>
    <app-virtual-list
            class="payment-service-currency-list__list"
            [selectedItem]="paymentServiceCurrency"
            [source]="listSource"
            [itemTemplate]="itemTemplate"
            [comparator]="paymentServiceCurrencyComparator"></app-virtual-list>
</div>