<ng-template #contentTemplate>
    <div class="dialog__content-text">{{contentText}}</div>
</ng-template>
<ng-template #footerTemplate>
    <div class="dialog__buttons">
        <button *ngIf="rejected.observers.length"
                    class="dialog__buttons-button"
                    [text]="rejectButtonText"
                    (click)="onRejectButtonClick($event)"></button>
        <button [text]="resolveButtonText"
                    class="dialog__buttons-button"
                    (click)="onResolveButtonClick($event)"></button>
    </div>
</ng-template>

<div class="dialog">
    <app-window
            [headerText]="headerText"
            [windowStyle]="windowStyle"
            [contentTemplate]="contentTemplate"
            [footerTemplate]="footerTemplate"
            (closeClick)="onCloseClick($event)"
    ></app-window>
</div>
