<app-scroll-box
        [horizontal]="true"
        [scrollTop]="scrollTop$ | async"
        (scrollTopChange)="scrollTop$.next($event)"
        [scrollLeft]="scrollLeft$ | async"
        (scrollLeftChange)="scrollLeft$.next($event)"
        [update$]="scrollBoxUpdate$"
>
    <div class="virtual-grid"
         [style.padding-left.px]="atomState?.hiddenLeftPx"
         [style.padding-right.px]="atomState?.hiddenRightPx"
         [style.padding-top.px]="atomState?.hiddenTopPx"
         [style.padding-bottom.px]="atomState?.hiddenBottomPx"
    >
        <app-grid-row
                *ngFor="let height of atomState?.heights; let i = index;"
                [columns]="atomState.columns"
                [row]="atomState.rows[i]"
                [widths]="atomState.widths"
                [height]="height"
        ></app-grid-row>
    </div>
</app-scroll-box>
