<div class="grid">
    <app-grid-viewport
            class="grid__scrollable"
            [style.margin-left.px]="holdLeftPx$ | async"
            [style.margin-top.px]="holdTopPx$ | async"
            [style.margin-bottom.px]="holdBottomPx$ | async"
            [style.margin-right.px]="holdRightPx$ | async"
            [columns]="columnsCenter$ | async"
            [source]="sourceMiddle$ | async"
            [scrollBarHorizontalShow]="true"
            [scrollBarVerticalShow]="true"
            [scrollLeft]="scrollLeft$ | async"
            [scrollTop]="scrollTop$ | async"
            (scrollLeftChange)="scrollLeft$.next($event)"
            (scrollTopChange)="scrollTop$.next($event)"
            [widths]="widthsCenter$ | async"
            [heights]="heightsMiddle$ | async"
    ></app-grid-viewport>
    <app-grid-viewport
            class="grid__abs grid__abs_top"
            *ngIf="holdTopRow"
            [style.left.px]="holdLeftPx$ | async"
            [style.right.px]="holdRightPx$ | async"
            [style.height.px]="holdTopPx$ | async"
            [columns]="columnsCenter$ | async"
            [source]="sourceTop$ | async"
            [scrollBarHorizontalShow]="false"
            [scrollBarVerticalShow]="false"
            [scrollLeft]="scrollLeft$ | async"
            [widths]="widthsCenter$ | async"
            [heights]="heightsTop$ | async"
    ></app-grid-viewport>
    <app-grid-viewport
            class="grid__abs grid__abs_left"
            *ngIf="holdLeftCol"
            [style.top.px]="holdTopPx$ | async"
            [style.bottom.px]="holdBottomPx$ | async"
            [style.width.px]="holdLeftPx$ | async"
            [columns]="columnsLeft$ | async"
            [source]="sourceMiddle$ | async"
            [scrollBarHorizontalShow]="false"
            [scrollBarVerticalShow]="false"
            [scrollTop]="scrollTop$ | async"
            [widths]="widthsLeft$ | async"
            [heights]="heightsMiddle$ | async"
    ></app-grid-viewport>
    <app-grid-viewport
            class="grid__abs grid__abs_right"
            *ngIf="holdRightCol"
            [style.top.px]="holdTopPx$ | async"
            [style.bottom.px]="holdBottomPx$ | async"
            [style.width.px]="holdRightPx$ | async"
            [columns]="columnsRight$ | async"
            [source]="sourceMiddle$ | async"
            [scrollBarHorizontalShow]="false"
            [scrollBarVerticalShow]="false"
            [scrollTop]="scrollTop$ | async"
            [widths]="widthsRight$ | async"
            [heights]="heightsMiddle$ | async"
    ></app-grid-viewport>
    <app-grid-viewport
            class="grid__abs grid__abs_bottom"
            *ngIf="holdBottomRow"
            [style.left.px]="holdLeftPx$ | async"
            [style.right.px]="holdRightPx$ | async"
            [style.height.px]="holdBottomPx$ | async"
            [columns]="columnsCenter$ | async"
            [source]="sourceBottom$ | async"
            [scrollBarHorizontalShow]="false"
            [scrollBarVerticalShow]="false"
            [scrollLeft]="scrollLeft$ | async"
            [widths]="widthsCenter$ | async"
            [heights]="heightsBottom$ | async"
    ></app-grid-viewport>
    <app-grid-viewport
            class="grid__abs grid__abs_top-left-corner"
            *ngIf="holdTopRow && holdLeftCol"
            [style.width.px]="holdLeftPx$ | async"
            [style.height.px]="holdTopPx$ | async"
            [scrollBarHorizontalShow]="false"
            [scrollBarVerticalShow]="false"
            [columns]="columnsLeft$ | async"
            [source]="sourceTop$ | async"
            [widths]="widthsLeft$ | async"
            [heights]="heightsTop$ | async"
    ></app-grid-viewport>
    <app-grid-viewport
            class="grid__abs grid__abs_top-right-corner"
            *ngIf="holdTopRow && holdRightCol"
            [style.width.px]="holdRightPx$ | async"
            [style.height.px]="holdTopPx$ | async"
            [scrollBarHorizontalShow]="false"
            [scrollBarVerticalShow]="false"
            [columns]="columnsRight$ | async"
            [source]="sourceTop$ | async"
            [widths]="widthsRight$ | async"
            [heights]="heightsTop$ | async"
    ></app-grid-viewport>
    <app-grid-viewport
            class="grid__abs grid__abs_bottom-left-corner"
            *ngIf="holdBottomRow && holdLeftCol"
            [style.width.px]="holdLeftPx$ | async"
            [style.height.px]="holdBottomPx$ | async"
            [scrollBarHorizontalShow]="false"
            [scrollBarVerticalShow]="false"
            [columns]="columnsLeft$ | async"
            [source]="sourceBottom$ | async"
            [widths]="widthsLeft$ | async"
            [heights]="heightsBottom$ | async"
    ></app-grid-viewport>
    <app-grid-viewport
            class="grid__abs grid__abs_bottom-right-corner"
            *ngIf="holdBottomRow && holdRightCol"
            [style.width.px]="holdRightPx$ | async"
            [style.height.px]="holdBottomPx$ | async"
            [scrollBarHorizontalShow]="false"
            [scrollBarVerticalShow]="false"
            [columns]="columnsRight$ | async"
            [source]="sourceBottom$ | async"
            [widths]="widthsRight$ | async"
            [heights]="heightsBottom$ | async"
    ></app-grid-viewport>
</div>
