<div class="grid">
    <app-grid-viewport
            class="grid__scrollable"
            [style.margin-left.px]="leftHoldPx$ | async"
            [style.margin-top.px]="topHoldPx$ | async"
            [style.margin-bottom.px]="bottomHoldPx$ | async"
            [style.margin-right.px]="rightHoldPx$ | async"
            [columns]="centerColumns$ | async"
            [source]="middleSource$ | async"
            [scrollLeft]="scrollLeft$ | async"
            [scrollTop]="scrollTop$ | async"
            (scrollLeftChange)="scrollLeft$.next($event)"
            (scrollTopChange)="scrollTop$.next($event)"
            [widths]="centerWidths$ | async"
            [heights]="middleHeights$ | async"
    ></app-grid-viewport>
    <app-grid-viewport
            class="grid__abs grid__abs_top"
            *ngIf="holdTopRow"
            [style.left.px]="leftHoldPx$ | async"
            [style.right.px]="rightHoldPx$ | async"
            [style.height.px]="topHoldPx$ | async"
            [columns]="centerColumns$ | async"
            [source]="topSource$ | async"
            [scrollLeft]="scrollLeft$ | async"
            [widths]="centerWidths$ | async"
            [heights]="topHeights$ | async"
    ></app-grid-viewport>
    <app-grid-viewport
            class="grid__abs grid__abs_left"
            *ngIf="holdLeftCol"
            [style.top.px]="topHoldPx$ | async"
            [style.bottom.px]="bottomHoldPx$ | async"
            [style.width.px]="leftHoldPx$ | async"
            [columns]="leftColumns$ | async"
            [source]="middleSource$ | async"
            [scrollTop]="scrollTop$ | async"
            [widths]="leftWidths$ | async"
            [heights]="middleHeights$ | async"
    ></app-grid-viewport>
    <app-grid-viewport
            class="grid__abs grid__abs_right"
            *ngIf="holdRightCol"
            [style.top.px]="topHoldPx$ | async"
            [style.bottom.px]="bottomHoldPx$ | async"
            [style.width.px]="rightHoldPx$ | async"
            [columns]="rightColumns$ | async"
            [source]="middleSource$ | async"
            [scrollTop]="scrollTop$ | async"
            [widths]="rightWidths$ | async"
            [heights]="middleHeights$ | async"
    ></app-grid-viewport>
    <app-grid-viewport
            class="grid__abs grid__abs_bottom"
            *ngIf="holdBottomRow"
            [style.left.px]="leftHoldPx$ | async"
            [style.right.px]="rightHoldPx$ | async"
            [style.height.px]="bottomHoldPx$ | async"
            [columns]="centerColumns$ | async"
            [source]="bottomSource$ | async"
            [scrollLeft]="scrollLeft$ | async"
            [widths]="centerWidths$ | async"
            [heights]="bottomHeights$ | async"
    ></app-grid-viewport>
    <app-grid-viewport
            class="grid__abs grid__abs_top-left-corner"
            *ngIf="holdTopRow && holdLeftCol"
            [style.width.px]="leftHoldPx$ | async"
            [style.height.px]="topHoldPx$ | async"
            [columns]="leftColumns$ | async"
            [source]="topSource$ | async"
            [widths]="leftWidths$ | async"
            [heights]="topHeights$ | async"
    ></app-grid-viewport>
    <app-grid-viewport
            class="grid__abs grid__abs_top-right-corner"
            *ngIf="holdTopRow && holdRightCol"
            [style.width.px]="rightHoldPx$ | async"
            [style.height.px]="topHoldPx$ | async"
            [columns]="rightColumns$ | async"
            [source]="topSource$ | async"
            [widths]="rightWidths$ | async"
            [heights]="topHeights$ | async"
    ></app-grid-viewport>
    <app-grid-viewport
            class="grid__abs grid__abs_bottom-left-corner"
            *ngIf="holdBottomRow && holdLeftCol"
            [style.width.px]="leftHoldPx$ | async"
            [style.height.px]="bottomHoldPx$ | async"
            [columns]="leftColumns$ | async"
            [source]="bottomSource$ | async"
            [widths]="leftWidths$ | async"
            [heights]="bottomHeights$ | async"
    ></app-grid-viewport>
    <app-grid-viewport
            class="grid__abs grid__abs_bottom-right-corner"
            *ngIf="holdBottomRow && holdRightCol"
            [style.width.px]="rightHoldPx$ | async"
            [style.height.px]="bottomHoldPx$ | async"
            [columns]="rightColumns$ | async"
            [source]="bottomSource$ | async"
            [widths]="rightWidths$ | async"
            [heights]="bottomHeights$ | async"
    ></app-grid-viewport>
</div>
