<div class="exchange-init">
    <div class="exchange-init__info">
        <app-block-wrapper [title]="'Калькулятор'">
            <app-exchange-route
                    *ngIf="fromPaymentServiceCurrency && toPaymentServiceCurrency"
                    [(fromSum)]="fromSum"
                    [fromPaymentServiceCurrency]="fromPaymentServiceCurrency"
                    [toPaymentServiceCurrency]="toPaymentServiceCurrency"
                    (exchangeRouteChange)="onExchangeRouteChange($event)"
            ></app-exchange-route>
        </app-block-wrapper>
    </div>
    <div class="exchange-init__requisites">
        <app-block-wrapper [title]="'Реквизит для зачисления ' + toPaymentServiceCurrency.code">
            <app-value-wrapper [title]="'Тип реквизита'">
                <app-select [(selectedItem)]="selectedRequisiteTypeItem" [source]="requisiteTypeSource"></app-select>
            </app-value-wrapper>
            <app-value-wrapper [title]="'Значение реквизита'">
                <app-input [(ngModel)]="requisiteValue"></app-input>
            </app-value-wrapper>

            <app-value-wrapper [title]="''">
                <app-button [text]="'Обменять'" (click)="onExchangeClick()"></app-button>
            </app-value-wrapper>
        </app-block-wrapper>
    </div>
</div>