<div class="exchange-init">
    <div class="exchange-init__info">
        <app-block-wrapper [title]="'Калькулятор'">
            <app-exchange-route
                    *ngIf="fromPaymentServiceCurrency && toPaymentServiceCurrency"
                    [(fromSum)]="form.get('fromSum').value"
                    [fromPaymentServiceCurrency]="fromPaymentServiceCurrency"
                    [toPaymentServiceCurrency]="toPaymentServiceCurrency"
                    (exchangeRouteChange)="onExchangeRouteChange($event)"
            ></app-exchange-route>
        </app-block-wrapper>
    </div>
    <div class="exchange-init__requisites">
        <app-block-wrapper [title]="'Реквизит для зачисления ' + toPaymentServiceCurrency.code">
            <app-value-wrapper [title]="'Тип реквизита'">
                <app-select
                        [source]="requisiteTypeSource"
                        [formControl]="form.get('requisiteType')"
                        [(selectedItem)]="selectedRequisiteTypeItem"
                ></app-select>
            </app-value-wrapper>
            <app-value-wrapper [title]="selectedRequisiteTypeItem?.name || 'Значение реквизита'">
                <app-input [formControl]="form.get('requisiteValue')"
                           [mask]="selectedRequisiteTypeItem?.attributes.mask"></app-input>
            </app-value-wrapper>

            <app-value-wrapper [title]="''">
                <app-button
                        [disabled]="form.invalid"
                        [accent]="true"
                        [text]="'Обменять'"
                        (click)="onExchangeClick()"></app-button>
            </app-value-wrapper>
        </app-block-wrapper>
    </div>
</div>