:host {
  display: flex;
  flex-direction: column;

  .window {
    &__header {
      flex: 0 0 50px;

      display: flex;
      flex-direction: row;
      align-items: center;

      &-text {
        flex: 1 1 auto;
      }

      &-close-button {
        flex: 0 0 50px;
      }
    }

    &__content {
      flex: 1 1 auto;
      overflow: hidden;
    }

    &__footer {
      flex: 0 0 50px;
    }
  }
}