<ng-template #footerTemplate>
    <app-button *ngIf="reject.observers.length"
                [text]="rejectButtonText"
                (click)="onRejectButtonClick($event)"></app-button>
    <app-button [text]="resolveButtonText"
                (click)="onResolveButtonClick($event)"></app-button>
</ng-template>
<app-window [headerText]="headerText"
            [contentTemplate]="contentTemplate"
            [footerTemplate]="footerTemplate"
            (closeButtonClick)="onCloseButtonClick($event)"
>

</app-window>