<ng-template #footerTemplate>
    <app-button *ngIf="reject.observers.length"
                [text]="rejectButtonText"
                (click)="onRejectButtonClick($event)"></app-button>
    <app-button [text]="resolveButtonText"
                (click)="onResolveButtonClick($event)"></app-button>
</ng-template>

<ng-template #contentTemplate>
    <div class="dialog__content-text">{{contentText}}</div>
</ng-template>

<app-window [headerText]="headerText"
            [windowStyle]="windowStyle"
            [contentTemplate]="contentTemplate"
            [footerTemplate]="footerTemplate"
            (closeButtonClick)="onCloseButtonClick($event)"
></app-window>