@import "../../../../../variables";

:host {
  display: flex;
  flex-direction: column;

  background-color: $color-accent-dark;
  color: $color-accent-light;

  box-shadow: inset 0 -.25rem rgba(0, 0, 0, .1);

  .header-menu {
    flex: 1 0 auto;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    &__item {
      height: 2rem;
      flex: 0 0 auto;

      display: flex;
      align-items: stretch;

      white-space: nowrap;

      position: relative;

      &-name {
        display: flex;
        align-items: center;
        cursor: default;

        padding: 0 .5rem;

        &_link {
          text-decoration: inherit;
          color: inherit;
          cursor: pointer;

          &:hover {
            background-color: transparentize($color-light, 0.9);
          }

          &-active {
            background-color: $color-light;
            color: $color-dark;
          }
        }
      }

      .header-menu__children {
        display: none;

        position: absolute;
        top: 0;
        left: 100%;
      }

      &:hover ::ng-deep > .header-menu__children {
        display: block;
      }
    }

  }
}