:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .dialog {
    &__content-text {
      white-space: pre-line;
      margin: 0 .5rem;
    }

    &__buttons {
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &-button {
        margin: 0 .5rem;
      }
    }
  }
}