<div class="exchange-route"
     *ngIf="exchangeRoute"
>
    <ng-content select="[before]"></ng-content>
    <app-value-wrapper
            [title]="'Вы отдаете'"
    >
        <app-input
                *ngIf="!disabled; else fromClientValue"
                [type]="'number'"
                [formControl]="form.get('fromClient')"
                [min]="exchangeRoute.fromMinAmount"
                [max]="exchangeRoute.fromMaxAmount"
                [step]="exchangeRoute.fromPaymentServiceCurrency.step"
                [prefix]="exchangeRoute.fromPaymentServiceCurrency.currency.prefix"
                [suffix]="exchangeRoute.fromPaymentServiceCurrency.currency.suffix"
        ></app-input>
        <ng-template #fromClientValue>{{form.get('fromClient').value}}</ng-template>
    </app-value-wrapper>

    <ng-container
            *ngIf="exchangeRoute.fromPaymentServiceCurrency.hasFee()"
    >
        <app-value-wrapper
                [title]="'Комиссия платежной системы'">
            {{form.get('fromFee').value}}
        </app-value-wrapper>

        <app-value-wrapper
                [title]="'Мы получаем'"
        >
            <app-input
                    *ngIf="!disabled; else fromValue"
                    [type]="'number'"
                    [formControl]="form.get('from')"
                    [min]="exchangeRoute.fromMinAmount"
                    [max]="exchangeRoute.fromMaxAmount"
                    [step]="exchangeRoute.fromPaymentServiceCurrency.step"
                    [prefix]="exchangeRoute.fromPaymentServiceCurrency.currency.prefix"
                    [suffix]="exchangeRoute.fromPaymentServiceCurrency.currency.suffix"
            ></app-input>
            <ng-template #fromValue>{{form.get('from').value}}</ng-template>
        </app-value-wrapper>
    </ng-container>

    <app-value-wrapper
            [title]="'Меняем по курсу'">
        {{exchangeRoute.fromAmount}}:{{exchangeRoute.toAmount}}
    </app-value-wrapper>

    <ng-container
            *ngIf="exchangeRoute.toPaymentServiceCurrency.hasFee()"
    >
        <app-value-wrapper
                [title]="'Мы отправляем'"
        >
            <app-input
                    *ngIf="!disabled; else toValue"
                    [type]="'number'"
                    [formControl]="form.get('to')"
                    [min]="exchangeRoute.toMinAmount"
                    [max]="exchangeRoute.toMaxAmount"
                    [step]="exchangeRoute.toPaymentServiceCurrency.step"
                    [prefix]="exchangeRoute.toPaymentServiceCurrency.currency.prefix"
                    [suffix]="exchangeRoute.toPaymentServiceCurrency.currency.suffix"
            ></app-input>
            <ng-template #toValue>{{form.get('to').value}}</ng-template>
        </app-value-wrapper>

        <app-value-wrapper
                [title]="'Комиссия платежной системы'"
        >
            {{form.get('toFee').value}}
        </app-value-wrapper>
    </ng-container>

    <app-value-wrapper
            [title]="'Вы получате'"
    >
        <app-input
                *ngIf="!disabled; else toClientValue"
                [type]="'number'"
                [formControl]="form.get('toClient')"
                [min]="exchangeRoute.toMinAmount"
                [max]="exchangeRoute.toMaxAmount"
                [step]="exchangeRoute.toPaymentServiceCurrency.step"
                [prefix]="exchangeRoute.toPaymentServiceCurrency.currency.prefix"
                [suffix]="exchangeRoute.toPaymentServiceCurrency.currency.suffix"
        ></app-input>
        <ng-template #toClientValue>{{form.get('toClient').value}}</ng-template>
    </app-value-wrapper>
    <ng-content select="[after]"></ng-content>
</div>





