<div class="exchange-route" *ngIf="exchangeRoute" [formGroup]="form">
    <app-input-wrapper [title]="'Вы отдаете'">
        <app-input
                [type]="'number'"
                [formControlName]="'fromClient'"
                [min]="exchangeRoute.fromMinAmount"
                [max]="exchangeRoute.fromMaxAmount"
                [step]="fromPaymentServiceCurrency.step"
                [prefix]="fromPaymentServiceCurrency.currency.prefix"
                [suffix]="fromPaymentServiceCurrency.currency.suffix"></app-input>
    </app-input-wrapper>

    <ng-container *ngIf="fromPaymentServiceCurrency.hasFee()">
        <app-value-wrapper [title]="'Комиссия платежной системы'">
            {{form.get('fromFee').value}}
        </app-value-wrapper>

        <app-input-wrapper [title]="'Мы получаем'">
            <app-input [type]="'number'"
                       [formControlName]="'from'"
                       [min]="exchangeRoute.fromMinAmount"
                       [max]="exchangeRoute.fromMaxAmount"
                       [step]="fromPaymentServiceCurrency.step"
                       [prefix]="fromPaymentServiceCurrency.currency.prefix"
                       [suffix]="fromPaymentServiceCurrency.currency.suffix"></app-input>
        </app-input-wrapper>
    </ng-container>

    <app-value-wrapper [title]="'Меняем по курсу'">
        {{exchangeRoute.fromAmount}}:{{exchangeRoute.toAmount}}
    </app-value-wrapper>

    <ng-container *ngIf="toPaymentServiceCurrency.hasFee()">
        <app-input-wrapper [title]="'Мы отправляем'">
            <app-input [type]="'number'"
                       [formControlName]="'to'"
                       [min]="exchangeRoute.toMinAmount"
                       [max]="exchangeRoute.toMaxAmount"
                       [step]="toPaymentServiceCurrency.step"
                       [prefix]="toPaymentServiceCurrency.currency.prefix"
                       [suffix]="toPaymentServiceCurrency.currency.suffix"></app-input>
        </app-input-wrapper>

        <app-value-wrapper [title]="'Комиссия платежной системы'">
            {{form.get('toFee').value}}
        </app-value-wrapper>
    </ng-container>

    <app-input-wrapper [title]="'Вы получате'">
        <app-input [type]="'number'"
                   [formControlName]="'toClient'"
                   [min]="exchangeRoute.toMinAmount"
                   [max]="exchangeRoute.toMaxAmount"
                   [step]="toPaymentServiceCurrency.step"
                   [prefix]="toPaymentServiceCurrency.currency.prefix"
                   [suffix]="toPaymentServiceCurrency.currency.suffix"></app-input>
    </app-input-wrapper>


    <app-input-wrapper [title]="''">
        <app-button [accent]="form.valid" [text]="'Обменять'"></app-button>
    </app-input-wrapper>
</div>





