<div class="exchange-route">
    <app-input-wrapper [title]="'Вы отдаете'">
        <app-input
                [type]="'number'"
                [prefix]="fromPaymentServiceCurrency?.currency.prefix"
                [suffix]="fromPaymentServiceCurrency?.currency.suffix"></app-input>
    </app-input-wrapper>

    <app-value-wrapper [title]="'Комиссия платежной системы'">

    </app-value-wrapper>

    <app-input-wrapper [title]="'Мы получаем'">
        <app-input [type]="'number'"
                   [prefix]="fromPaymentServiceCurrency?.currency.prefix"
                   [suffix]="fromPaymentServiceCurrency?.currency.suffix"></app-input>
    </app-input-wrapper>

    <app-value-wrapper [title]="'Меняем по курсу'">

    </app-value-wrapper>

    <app-input-wrapper [title]="'Мы отправляем'">
        <app-input [type]="'number'"
                   [prefix]="toPaymentServiceCurrency?.currency.prefix"
                   [suffix]="toPaymentServiceCurrency?.currency.suffix"></app-input>
    </app-input-wrapper>

    <app-value-wrapper [title]="'Комиссия платежной системы'">

    </app-value-wrapper>

    <app-input-wrapper [title]="'Вы получате'">
        <app-input [type]="'number'"
                   [prefix]="toPaymentServiceCurrency?.currency.prefix"
                   [suffix]="toPaymentServiceCurrency?.currency.suffix"></app-input>
    </app-input-wrapper>
</div>





