<div #scrollContainer class="scroll-box__container"
     [class.scroll-box__container_horizontal]="horizontal"
     [class.scroll-box__container_vertical]="vertical"
     (wheel)="onWheel($event)"
>
    <div class="scroll-box__content">
        <ng-content></ng-content>
    </div>
</div>
<app-scroll-bar *ngIf="isVerticalScrollVisible"
                [otherScrollVisible]="isHorizontalScrollVisible"
                [horizontal]="false"
                [position]="verticalRelativeScrollPosition"
                (positionChange)="onScrollBarVerticalRelativeScrollPositionChange($event)"
                [size]="verticalScrollSize"
></app-scroll-bar>
<app-scroll-bar *ngIf="isHorizontalScrollVisible"
                [otherScrollVisible]="isVerticalScrollVisible"
                [horizontal]="true"
                [position]="horizontalRelativeScrollPosition"
                (positionChange)="onScrollBarHorizontalRelativeScrollPositionChange($event)"
                [size]="horizontalScrollSize"
></app-scroll-bar>