@import "scss/variables";

:host {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;

  position: relative;

}

.virtual-list {
  background-color: $color-light;
  color: $color-dark;

  &__top {
  }

  &__view {

    &-item {
      &_selected {

      }
    }

    &_selectable &-item {
      cursor: pointer;

      &:hover {
        background-color: $color-light-accent;
        color: $color-dark-accent;
      }

      &_selected, &_selected:hover {
        background-color: $color-dark-accent;
        color: $color-light-accent;

        cursor: default;
      }
    }
  }

  &__bottom {
  }

  &_spinner {
    min-height: 4rem;
  }
}

.virtual-list__spinner {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2rem;
  margin-left: -2rem;
}