<app-scroll-box class="virtual-list"
                [wheelSize]="getMinItemHeight() * 2"
                [scrollTop]="scrollTop$ | async"
                (scrollTopChange)="onScrollPosChange($event)"
>
    <div class="virtual-list__top" [style.height.px]="topVirtualHeightPx"></div>
    <div class="virtual-list__view" #viewport>
        <div class="virtual-list__view-item" #viewItem *ngFor="let item of viewItems$.value; let i = index;">
            <ng-container *ngIf="item">
                <ng-container *ngTemplateOutlet="itemTemplate; context: {item: item, index: i}"></ng-container>
            </ng-container>
            <ng-container *ngIf="!item && itemPlaceholderTemplate">
                <ng-container *ngTemplateOutlet="itemPlaceholderTemplate; context: {index: i}"></ng-container>
            </ng-container>
            <ng-container *ngIf="!item && !itemPlaceholderTemplate">
                <ng-container *ngTemplateOutlet="defaultItemTemplate; context: {index: i}"></ng-container>
            </ng-container>
        </div>
    </div>
    <div class="virtual-list__bottom" [style.height.px]="bottomVirtualHeightPx"></div>
</app-scroll-box>

<ng-template #defaultItemTemplate>loading item #{{index}}</ng-template>