<app-scroll-box class="virtual-list"
                [wheelSize]="this.minItemHeight$.value * 2"
                [scrollTop]="scrollTop$ | async"
                (scrollTopChange)="scrollTop$.next($event)"
                [update$]="scrollBoxUpdate$"
>
    <div class="virtual-list__view"
         [style.padding-top.px]="atomState?.hiddenTopPx"
         [style.padding-bottom.px]="atomState?.hiddenBottomPx"
    >
        <div class="virtual-list__view-item"
             #viewItem
             *ngFor="let height of atomState?.heightsVisible; let i = index;"
             [style.height.px]="height"
        >
            <ng-container *ngIf="atomState?.items[i]">
                <ng-container
                        *ngTemplateOutlet="itemTemplate; context: {item: atomState.items[i], index: i}"></ng-container>
            </ng-container>
            <ng-container *ngIf="!atomState?.items[i] && itemPlaceholderTemplate">
                <ng-container *ngTemplateOutlet="itemPlaceholderTemplate; context: {index: i}"></ng-container>
            </ng-container>
            <ng-container *ngIf="!atomState?.items[i] && !itemPlaceholderTemplate">
                <ng-container *ngTemplateOutlet="defaultItemTemplate; context: {index: i}"></ng-container>
            </ng-container>
        </div>
    </div>
</app-scroll-box>

<ng-template #defaultItemTemplate let-index="index">loading item #{{index}}</ng-template>