:host {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;

  position: relative;

}

.virtual-list {
  &__top {
  }

  &__view {

    &-item {
      &_selected {

      }
    }

    &_selectable &-item {
      cursor: pointer;
      &_selected {
        cursor: default;
      }
    }
  }

  &__bottom {
  }

  &_spinner {
    min-height: 4rem;
  }
}

.virtual-list__spinner {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2rem;
  margin-left: -2rem;
}