@import "~scss/variables";

:host {
  display: none;
}

.tooltip {
  position: relative;

  background-color: $color-light;
  border: 1px solid $control-color-border;
  border-radius: $radius-base;

  &__text {
    color: $color-dark;

    padding: .25rem;

    max-width: 300px;
    text-align: justify;
  }

  &__triangle {
    &:before, &:after {
      position: absolute;
      display: block;
      content: '';

      border: .5rem transparent solid;
    }
  }

}

::ng-deep .pop-up-container_position-top {
  .tooltip {
    margin-bottom: .33rem;

    &__triangle {
      &:before, &:after {
        top: 100%;

        border-top: .33rem $color-light solid;
        border-bottom: none;
      }

      &:before {
        border-top-color: opacify($control-color-border, .33);
      }

      &:after {
        margin-top: -1px;
      }
    }
  }
}

::ng-deep .pop-up-container_position-bottom {
  .tooltip {
    margin-top: .33rem;

    &__triangle {
      &:before, &:after {
        bottom: 100%;

        border-top: none;
        border-bottom: .33rem $color-light solid;
      }

      &:before {
        border-bottom-color: $control-color-border;
      }

      &:after {
        margin-bottom: -1px;
      }
    }
  }
}

::ng-deep .pop-up-container_align-start {
  .tooltip {

    &__triangle {
      &:before, &:after {
        left: 1rem;
      }
    }
  }
}

::ng-deep .pop-up-container_align-center {
  .tooltip {

    &__triangle {
      &:before, &:after {
        left: 50%;
        margin-left: -.5rem;
      }
    }
  }
}

::ng-deep .pop-up-container_align-end {
  .tooltip {

    &__triangle {
      &:before, &:after {
        right: 1rem;
      }
    }
  }
}