/* You can add global styles to this file, and also import other style files */

$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";

@import "variables";

html, body {
  margin: 0;
  padding: 0;

  height: 100%;

  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;

  font-size: .8rem;
  font-family: Geneva, Arial, Helvetica, sans-serif;

  background-color: $color-light;
  color: $color-dark;
}

* {
  box-sizing: border-box;
}

router-outlet {
  display: none;
}

.global-width {
  margin: 0 auto;
  width: 100%;
  min-width: 800px;
  max-width: 1200px;
}