@import "~scss/variables";
@import "~scss/functions";

@mixin convex($color, $withHover) {
  border: 1px solid darken($color, 5);
  border-top: 1px solid darken($color, 2.5);
  border-bottom: 1px solid darken($color, 10);
  box-shadow: inset 0 1px lighten($color, 5);

  @if $withHover == true {
    &:hover {
      border: 1px solid darken($color, 10);
      border-top: 1px solid darken($color, 5);
      border-bottom: 1px solid darken($color, 20);
      box-shadow: inset 0 1px lighten($color, 10);
    }
  }
}

@mixin pitted-text($color, $withHover) {
  color: lighten($color, 33%);

  @if lightness($color) > 40 {
    text-shadow: 0 -1px rgba(0, 0, 0, .1);
  }
  @else {
    text-shadow: 0 1px rgba(255, 255, 255, .1);
  }

  @if $withHover == true {
    &:hover {
      color: lighten($color, 25%);


      @if lightness($color) > 40 {
        text-shadow: 0 -1px rgba(0, 0, 0, .33);
      }
      @else {
        text-shadow: 0 1px rgba(255, 255, 255, .33);
      }
    }
  }
}

@mixin control {
  color: $control-color;
  border: 1px solid $control-color-border;
  border-radius: $control-border-radius;
  background-color: $control-color-background;

  &:focus, &.focus {
    color: $control-color-accent;
    border: 1px solid $control-color-border-accent;
    background-color: $control-color-background-accent;
  }
}