@import "~scss/mixins";
@import "~scss/variables";

:host {
  * {
    pointer-events: none;
  }

  height: 2rem;
  display: flex;
  flex-direction: column;

  flex-wrap: nowrap;
  align-items: center;

  cursor: pointer;

  font-weight: bold;

  border-radius: $control-border-radius;

  background-color: $color-light;
  @include convex($color-light, true);
  @include pitted-text($color-dark, true);

  &.accent {
    background-color: $color-dark-accent;
    @include convex($color-dark-accent, true);
    @include pitted-text($color-light-accent, true);
  }

  &[disabled], &.accent[disabled] {
    cursor: not-allowed;

    background-color: transparentize($color-light, .5);
    @include convex(transparentize($color-light, .5), false);
    @include pitted-text(transparentize($color-dark, .5), false);
  }

  .button {
    pointer-events: auto;
    flex: 1;

    display: flex;
    flex-direction: row;

    flex-wrap: nowrap;
    align-items: center;

    border: none;
    background: transparent;
    outline: none;
    box-shadow: none;
    color: inherit;
    cursor: inherit;

    &__text {
      padding: 0 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 10rem;
    }
  }
}