@import "~scss/mixins";
@import "~scss/variables";

:host {
  height: 2rem;
  flex: 0 0 auto;

  display: flex;
  flex-direction: row;

  flex-wrap: nowrap;
  align-items: center;

  cursor: pointer;

  font-weight: bold;

  border-radius: $control-border-radius;

  background-color: $color-light;
  @include convex($color-light, true);
  @include pitted-text($color-dark, true);

  &.accent {
    background-color: $color-dark-accent;
    @include convex($color-dark-accent, true);
    @include pitted-text($color-light-accent, true);
  }

  &[disabled] {
    cursor: not-allowed;

    background-color: transparentize($color-light, .5);
    @include convex(transparentize($color-light, .5), false);
    @include pitted-text(transparentize($color-dark, .5), false);
  }

  .button {
    &__text {
      padding: 0 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 10rem;
    }
  }
}