<div class="exchange-info">
    <app-block-wrapper
            [title]="'Информация по обмену'">
        <app-value-wrapper
                [title]="'Информация по обмену'">
        </app-value-wrapper>
    </app-block-wrapper>
    <app-block-wrapper [title]="'Поступления от клиента'">
        <app-value-wrapper
                *ngFor="let payment of exchange.incomingPayments"
                [title]="payment.fromRequisiteValue">
            <span>{{payment.sum}}</span>
            <app-currency [item]="exchange.exchangeRoute.fromPaymentServiceCurrency.currency"></app-currency>
        </app-value-wrapper>
        <app-value-wrapper
                *ngIf="!exchange.incomingPayments.length"
                [title]="'Поступления отсутствуют'"></app-value-wrapper>
    </app-block-wrapper>
    <app-block-wrapper [title]="'Отправлено клиенту'">
        <app-value-wrapper
                *ngFor="let payment of exchange.outgoingPayments"
                [title]="payment.toRequisiteValue">
            <span>{{payment.sum}}</span>
            <app-currency [item]="exchange.exchangeRoute.toPaymentServiceCurrency.currency"></app-currency>
        </app-value-wrapper>
        <app-value-wrapper
                *ngIf="!exchange.outgoingPayments.length"
                [title]="'Отправления отсутствуют'"></app-value-wrapper>
    </app-block-wrapper>
</div>
